.mobile-social-media, .mobile-contacts, .mobile-menu, .projects, .filter, .contacts, .company-social-media__list, .address, .regular-clients__list, .team-social-media, .team-members__list, .what-we-do__list, .features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-toggle, .filter__btn, .hero__btn {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.container, .footer__container, .header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.regular-clients__title, .team-members__title, .what-we-do__title {
  color: #212121;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo__text {
  color: #2196F3;
}

.logo--footer-version {
  color: #ffffff;
  margin-bottom: 20px;
  padding: 0px;
  text-align: center;
}

.header {
  outline: 1px;
  outline-style: solid;
  outline-color: rgb(236, 236, 236);
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  background-color: #2F303A;
  text-align: center;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 118px;
}

.hero__btn {
  background-color: #2196F3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 118px;
  min-width: 200px;
  padding: 10px 24px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__title--hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__background {
  background-color: rgb(245, 244, 250);
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__title {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  min-width: 270px;
}

.what-we-do {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1599px) {
  .what-we-do {
    display: none;
  }
}

.what-we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what-we-do__title {
  margin-bottom: 50px;
}

.what-we-do__item {
  position: relative;
}
.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do__description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-members {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-members__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-members__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team-members__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team-members__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-members__item {
    width: calc((100% - 30px) / 2);
  }
}

.team-members__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 30px;
}

.team-members__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}

.team-social-media__item:not(:last-child) {
  margin-right: 10px;
}

.team-social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-media__link:hover, .team-social-media__link:focus {
  background-color: #2196F3;
}
.team-social-media__link:hover .team-social-media__icon, .team-social-media__link:focus .team-social-media__icon {
  fill: #ffffff;
}

.team-social-media__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.regular-clients__title {
  margin-bottom: 30px;
}

.regular-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .regular-clients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .regular-clients__item {
    width: calc((100% - 60px) / 3);
  }
}

.regular-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AFB1B8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-clients__link:hover, .regular-clients__link:focus {
  border-color: #2196F3;
}
.regular-clients__link:hover .regular-clients__logo, .regular-clients__link:focus .regular-clients__logo {
  fill: #2196F3;
}

.regular-clients__logo {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .footer__box {
    margin-right: 165px;
    margin-left: auto;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__street {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__street:focus, .address__street:hover {
  color: #2196F3;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:focus, .address__link:hover {
  color: #2196F3;
}

.company-social-media {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .company-social-media {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .company-social-media {
    margin-right: auto;
  }
}

.company-social-media__text {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.company-social-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-social-media__item:not(:last-child) {
  margin-right: 10px;
}

.company-social-media__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
}
.company-social-media__link:hover, .company-social-media__link:focus {
  background-color: #2196F3;
}

.company-social-media__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form {
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .subscribe-form {
    margin-left: auto;
    margin-right: auto;
    min-width: 450px;
  }
}

.subscribe-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe-form__lable {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-form__input {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline-style: none;
  font: inherit;
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__input:focus {
  border-color: #2196F3;
}
.subscribe-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__btn:focus, .subscribe-form__btn:hover {
  background-color: #188CE8;
}

.subscribe-form__icon {
  margin-left: 10px;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 95px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.contacts__link {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  padding-top: 5px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.navigation__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  color: #212121;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196F3;
}

.navigation__link--current {
  color: #2196F3;
}
.navigation__link--current::after {
  content: "";
  background-color: #2196F3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 95px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  padding: 40px 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .modal {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    min-width: 450px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 30px;
  min-width: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196F3;
}

.modal__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form {
  width: 100%;
  margin-top: 12px;
}

.form input,
.form textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  outline-style: none;
  font: inherit;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form__title {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__input {
  height: 40px;
  padding-left: 42px;
  text-align: left;
}
.form__input:focus {
  border-color: #2196F3;
}
.form__input:focus ~ .form__icon {
  fill: #2196F3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment {
  padding-top: 12px;
  padding-left: 16px;
  height: 120px;
  resize: none;
}
.form__comment:focus {
  border-color: #2196F3;
}
.form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.form__checkbox:checked + .form__checkbox-icon {
  background-color: #2196F3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  fill: #ffffff;
}

.form__checkbox-icon {
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid #212121;
  fill: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__policy {
  font-size: 12px;
  line-height: 1.7;
  color: #757575;
}

.form__policy-link {
  font-size: inherit;
  color: #2196F3;
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover, .form__btn:focus {
  background-color: #188CE8;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filer__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  background-color: #F5F4FA;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: inherit;
  display: inline-block;
  margin: 0 auto;
  padding: 6px 25px;
  min-width: 73px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: #2196F3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.projects__card {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.projects__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__link:hover .projects__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__top {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__overlay-text {
  position: absolute;
  top: 63px;
  left: 24px;
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

.projects__bottom {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(238, 238, 238);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(238, 238, 238);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(238, 238, 238);
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.projects__name {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__type {
  color: #757575;
  font-size: 16px;
  line-height: 1.8;
  margin-top: 4px;
}

.menu-toggle {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle--opened-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196F3;
}
.mobile-menu__link--current {
  color: #2196F3;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__phone {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-contacts__email {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social-media {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-social-media__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social-media__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */