@import "./utils/variables";
@import "./utils/placeholders";

@import "./components/logo";
@import "./components/header";
@import "./components/hero";
@import "./components/features";
@import "./components/what-we-do";
@import "./components/team-members";
@import "./components/team-social-media";
@import "./components/regular-clients";
@import "./components/footer";
@import "./components/address";
@import "./components/company-social-media";
@import "./components/subscribe-form";
@import "./components/contacts";
@import "./components/navigation";

@import "./components/backdrop";
@import "./components/modal";
@import "./components/form";

@import "./components/filter";
@import "./components/portfolio";
@import "./components/projects";

@import "./components/menu-toggle";
@import "./components/menu-container";





h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
}

body {
    background-color: $white-color;
    color: $primary-text-color;

    font-family: $main-font;
    letter-spacing: 0.03em;

    &.modal-open{
     overflow: hidden;   
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container{
    @extend %container;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}