.footer {
    background-color: $hero-bg-color;

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    @extend %container;

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        
    }
}

.footer__box{
    @media screen and (min-width:768px){
        margin-right: 165px;
        margin-left: auto;
    }
}