.hero {
    background-color: $hero-bg-color;
    text-align: center;

    // padding-top: 200px;
    // padding-bottom: 200px;
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/background-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero__title {
    color: $white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 118px;
}

.hero__btn {
    background-color: $accent-color;
    color: $white-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    display: inline-block;
    margin: 0 auto;
    margin-bottom: 118px;
    min-width: 200px;
    padding: 10px 24px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    @extend %btn;

    &:hover,
    &:focus{
        background-color: $second-accent-color;
    }

}