.menu-container {
   display: flex;
   flex-direction: column;
   
overflow-y: scroll;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color: $white-color;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.mobile-menu {
    @extend %list;

    margin-bottom: auto;
}

.mobile-menu__item:not(:last-child){
     margin-bottom: 32px;
}

.mobile-menu__link {
    text-decoration: none;

    color: $title-text-color;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &--current{
        color: $accent-color;
    }
}

.mobile-contacts{
    @extend %list;
}

.mobile-contacts__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-contacts__phone{
    text-decoration: none;

    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: $accent-color;
}

.mobile-contacts__email{
    text-decoration: none;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: $primary-text-color;
}

.mobile-social-media{
    @extend %list;
    margin-top: 64px;

    display: flex;
}

.mobile-social-media__item:not(:last-child){
    margin-right: 10px;
    padding-right: 10px;

    border-right: 1px solid rgba(33, 33, 33, 0.2);;
}

.mobile-social-media__link{
    text-decoration: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;

    letter-spacing: 0.02em;
    color: $accent-color;
}