.regular-clients {
    @media screen and (max-width:1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.regular-clients__title {
    @extend %section-title;

    @media screen and (max-width:1199px) {
        margin-bottom: 30px;
    }
    
    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
    }
}

.regular-clients__list {
    display: flex;

    @media screen and (max-width:1199px) {
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width:1200px) {
        align-items: center;
        justify-content: center;
    }

    @extend %list;
}

.regular-clients__item{
    @media screen and (max-width:767px){
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: calc((100% - 60px) / 3);
    }

    &:not(:last-child){
        @media screen and (min-width:1200px){
            margin-right: 30px;
        }
    }
}

.regular-clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media  screen and (max-width:1199px) {
        width: auto;
    }

    @media screen and (min-width:1200px) {
        width:170px;
    }

    height: 92px;
    border: 1px solid $icon-main-color;
    border-radius: 4px;
    

    color: $icon-main-color;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        border-color: $accent-color
    }

    &:hover .regular-clients__logo,
    &:focus .regular-clients__logo{
        fill: $accent-color;
    }
}

.regular-clients__logo {
    fill:currentColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}