.subscribe-form {
    text-align: center;

    margin-top: 60px;

    @media screen and (min-width:768px) {
        margin-left: auto;
        margin-right: auto;

        min-width: 450px;
    }
}

.subscribe-form__field {
    display: flex;
    flex-direction: column;
}

.subscribe-form__lable {
    color: $white-color;
    font-weight: 700;
    font-size: 14px; 
    line-height: 16px;
    text-transform: uppercase;
    
    margin-bottom: 20px;
}

.subscribe-form__input {
    background-color: transparent;
    color: $white-color;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline-style: none;

    font: inherit;

    max-width: 450px;
    height: 50px;

 
    padding-left: 16px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: $accent-color;
    }

    &::placeholder{
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscribe-form__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 50px;

    border: none;
    border-radius: 4px;

    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;

    color: $white-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover{
        background-color: $second-accent-color;
    }
}

.subscribe-form__icon {
    margin-left: 10px;
}