.team-social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 24px;
    // margin-left: 32px;
    // margin-right: 32px;

    @extend %list;
}

.team-social-media__item:not(:last-child){
    margin-right: 10px;
}

.team-social-media__link{
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    color: $icon-main-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        background-color: $accent-color;
    }

    &:hover .team-social-media__icon,
    &:focus .team-social-media__icon{
        fill: $white-color;
    }
}

.team-social-media__icon{
    fill: currentColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}